/* Global Style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Menambahkan box-sizing border-box */
}

nav {
  font-family: 'Mulish', sans-serif;
  color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 55px; /* Jarak bawah navbar */
  transition: background-color 0.3s ease; /* Menambahkan transisi untuk navbar saat sticky */
}

nav.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: rgba(255, 255, 255, 0.9); /* Menambahkan warna latar belakang transparan saat sticky */
  box-shadow: 0 4px 2px -2px gray; /* Tambahkan bayangan saat sticky */
  padding: 10px 20px;
}

nav ul {
  display: flex;
  gap: 48px;
  list-style: none; /* Menghapus list style */
}

nav ul li a {
  color: #1F1534;
  text-decoration: none;
  opacity: 0.5;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  transition: all 0.2s ease;
}

nav ul li a:hover {
  font-weight: 700;
  opacity: 1;
  color: #000000;
}

.text {
  display: flex; /* Menggunakan Flexbox */
  justify-content: space-between; /* Membuat teks dan gambar terpisah */
  align-items: center; /* Memastikan gambar dan teks sejajar vertikal */
  gap: 50px; /* Menambahkan jarak antar elemen */
}

.text-content {
  max-width: 50%; /* Menetapkan lebar maksimum teks agar tidak terlalu lebar */
}

.text h1 {
  font-family: 'Mulish', sans-serif;
  font-weight: 700;
  font-size: 49px;
  line-height: 56px;
  color: #1F1534;
  margin-bottom: 40px;
}

.text h1 span {
  color: #89C5CC;
  font-weight: 700;
}

.text p {
  font-family: 'Open Sans', sans-serif;
  color: #7D7987;
  font-size: 14px;
  line-height: 28px;
  margin-bottom: 40px;
}

.text button {
  font-family: 'Open Sans', sans-serif;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 14px 32px;
  background: #69B99D;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  transition: background-color 0.3s ease;
}

.text button:hover {
  background-color: #4A9F83;
}

.woman-image {
  max-width: 100%; /* Pastikan gambar tidak melampaui ukuran kontainer */
  height: auto; /* Memastikan rasio gambar tetap terjaga */
}

footer {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  font-size: 14px;
  line-height: 28px;
  color: #7D7987;
}

footer a:hover {
  text-decoration: underline;
}

#balls {
  position: fixed;
  bottom: 0px;
  left: 0px; /* Mengubah 'right' menjadi 'left' */
  z-index: -1; /* Menambahkan z-index untuk memastikan elemen di belakang konten utama */
}

#logo {
  display: block;
}

/* Animasi Scroll */
.animate-on-scroll {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.animate-on-scroll.visible {
  opacity: 1;
}
